article .embedmaps iframe {width: 1120px; height: 450px; padding: 80px; margin-top: 40px;}

article {overflow: hidden;  }
article .indo1 {height: 800px;position: relative; }
article .indo1 img {  height: 800px; width: fit-content;}
article .indo1 .txt1 {font-family: cursive;  font-size: 76px; color: #fff; position: absolute; width: 50%; height: auto; text-align: center; bottom: 60%; left: 25%;}
article .indo1 .ket1 {position: absolute; font-family: cursive; font-size: 46px; width: 50%; height: auto; text-align: center; bottom: 40%; left: 25%; color: white;}


.container2 {overflow: hidden; width: 1280px; }
.get {padding-left: 80px; width: 58%; margin-bottom: 150px; float: left;}
.get .jdl {font-family: retro team; font-size: 28px; margin-bottom: 20px;}

.forms .title3 input {margin-top: 30px;
    line-height: 26px;}

.forms .title3 input.input {width: 328px;
    padding: 7px 18px 3px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;}

.forms .title4 input {margin-top: 30px;
	line-height: 26px;}

.forms .title4 input.input {width: 690px;
	padding:7px 18px 3px 10px ;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 5px ;}

.forms .title5 button[type=button] {padding: 12px 13px 9px 13px;
    width: 100px;
    color: whitesmoke;
    background-color: #ff4757;
    font-size: 15px;
    border: 0.5px solid #ff4757;
    border-radius: 5px;
	margin-top: 40px;}

.forms .title5 button[type=button]:hover {color: black;
    background-color: #5352ed;
    transition: background 0.2s ease-in-out;}